.button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    text-transform: capitalize;
    padding: 4px 8px;
    border-radius: 8px;
    transition: background ease-in-out 0.2s;
}

.button:hover {
    background: rgb(100 100 100 / 10%);
}

.button img {
    display: block;
}

.button svg {
    display: block;
    font-size: 28px;
}

.button:disabled {
    color: gray;
    cursor: not-allowed;
}

.button:disabled:hover {
    background: none;
}