.wrapper {
    height: min-content;
    width: fit-content;
}

.star {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.full {
    background-image: url("icons/full-star.png");
}

.half {
    background-image: url("icons/half-star.png");
}

.empty {
    background-image: url("icons/empty-star.png");
}
