.wrapper {
    width: 300px;
    background: rgb(253, 237, 237);
    color: rgb(95, 33, 32);
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 20%) 0 2px 1px -1px, rgb(0 0 0 / 14%) 0 1px 1px 0, rgb(0 0 0 / 12%) 0 1px 3px 0;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
    width: 32px;
    height: 32px;
    display: inline-block;
}