.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    margin: 10px 0;
    flex-basis: 100%;
}

.leftBar {
    flex-basis: 60%;
}

.section {
    margin-top: 20px;
    padding: 18px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 8%), 0 1px 5px 0 rgb(0 0 0 / 8%);
    border: 1px solid rgb(233 233 233 / 40%);
}

#action {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#info {
    list-style: none;
}

#info li {
    margin-top: 12px;
}

#info li:first-child {
    margin-top: 0;
}

#info span {
    vertical-align: middle;
}

#info img {
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}
