.wrapper {
    height: 60px;
    background-color: var(--primary-color);
    font-size: 20px;
    line-height: 1.6;
    padding: 12px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: fit-content;
}

.link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 16px;
}

.avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.user {
    position: relative;
}