.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.totalPrice {
    display: flex;
    width: fit-content;
    align-items: center;
}

.totalPrice span {
    margin-left: 10px;
}