.wrapper {
    width: fit-content;
    margin: 0 auto;
}

.authBtn {
    display: flex;
    align-items: center;
}

.switchBtn {
    display: block;
    background: none;
    border: none;
    color: rgb(100 100 100);
    cursor: pointer;
    margin: 10px auto;
}